.back-btn {

    margin-left: 10px;
    font-size: 19px;
}

.hero-heading {

    text-align: center;
}

.btn-edit {

    margin: 15px 15px;
    --background:  #01b1ff;
}


.back-btn {

    margin-left: 15px;
}

.addp {
    margin: 0.2rem 0;
    font-size: 0.8rem;
}

.chip{
    padding: 0px 20px;
    float: right;
    font-size: 15px;
    height: 25px;
}