.profile-icon {

    width: 100px;
    height: 100px;
}

.input-box {

    border: 1px solid gray;
    margin: 2rem 1.5rem;
    border-radius: 10px;
}

.save-btn {

    height: 2.2rem;
    --background:  #f56733;;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.cancel-btn {

    height: 2.2rem;
    font-size: 15px;
    font-weight: 500;

}

.hero-1 {

    text-align: center;
    margin-top: 3rem;
    color:  #f56733;
    font-weight: 700;
}

.hero-2 {

    text-align: center;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 2.5rem;
    color:  #f56733;
}