.name-section {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-left: 15px;
}

.user-profile {
  width: 55px;
  height: 55px;
}

.list-sec {
  margin-bottom: 10px;
}

.list-icon {
  color: #01b1ff;
}

.list-text {
  color: #4a4a4a;
}

.profile-list-tab {
  font-size: 30px;
  margin-top: 16px;
  margin-left: 10px;
  color: #01b1ff;
}

.ref-code {
  color: #01b1ff;
  font-weight: 600;
}

.code-ref {
  font-weight: 700;
}

.chip-text {
  font-size: 10px;
  font-weight: 600;
}

.ref-chip-left {
  float: right;
  width: 10rem;
  --background: #01b1ff;
  --color: #ffffff;
  font-size: 16px;
}

.ref-chip-right {
  float: left;
  width: 10rem;
  --background: #01b1ff;
  --color: #ffffff;
}

.icon-money {
  color: #ffffff;
}

.ref-doce {
  // font-weight: 700;
  font-size: 12px;
}

.sgare-txt {
  color: #01b1ff;
  font-size: 1.4rem;
  float: right;
  margin: 0.3rem;
}

.pro-img {
  font-size: 3rem;
  color: #34495e;
}

.more-info {
  margin-left: 15px;
  font-weight: 500;
}

.mer-name {
  color: #01b1ff;
}
