.back-btn {
  margin-left: 10px;
  font-size: 18px;
}

.hero-label {
  margin-left: 12px;
}

.addmore-btn {
  --box-shadow: none;
  --background: #ffffff;
  --color: #000000;
  margin-top: 1.5rem;
  margin-left: 5px;
  font-size: 18px;
  margin-bottom: 22px;
}

.img-size {
  width: 5.5rem;
  height: 5.5rem;
}

.title-hero {
  margin: 10px 15px;
}

.service-box {
  margin-bottom: 15px;
}

.upload-box {
  border: 1.5px solid #01b1ff;
  height: 5rem;
  width: 5rem;
  text-align: center;
  // background-color: #edf0ff;
}

.plus-btn {
  text-align: center;
  margin-top: 26px;
  font-size: 1.5rem;
}

.link-info {
  text-align: center;
  font-weight: 500;
}

.imgtrash {
  color: red;
}

.thumbimg {
  height: 100%;
  width: 100%;
}

.action-sheet-group-cancel {
  --display: none;
}

.no-book-img {
  margin-top: 10vh;
}
