.paydetails{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
.txt{
    margin-left: 16px;
    font-size: 1rem;
}
.back-btn{
    font-size: 20px;
    position: relative;
    left: 7px;
}