.back-btn {

    margin-left: 10px;
    font-size: 18px;
}

.ion-input {

    border: 1px solid gray;
    margin: 15px 0px;
    border-radius: 5px;
}

.submit-btn {

    margin: 25px 0px;
    --background: #01B1FF;
}