.back-btn {

    margin-left: 15px;
    font-size: 19px;
}

.detail-info {

    margin-left: 25px;
    color: #878787;
}

ion-input::placeholder {

    font-size: 6px;
}

.txt{
    text-transform: uppercase;
}