<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user-home-page">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user-booking-list">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Booking</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user-live-event">
      <ion-icon name="expand-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="opencart()">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user-profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>