.back-btn {

    font-size: 21px;
    margin-left: 5px;
}

.gift-logo {

    font-size: 65px;
}

.hero-tag {

    text-align: center;
    font-weight: 600;
    color:#383838;
}

.red-btn {

    --background : #01b1ff;
    height: 36px;
    width: 95px;
}

.cup-add-sec {

    margin: 0px 35px;
    border: none;
}

.ref-info-text {

    text-align: center;
    font-size: 11px;
}

.ft-ref {

    text-align: center;

}

.ref-tx {

    font-weight: 500;
    color: #7f8fa6;
}

.skip-btn {

    margin-right: 10px;
    font-weight: 600;
}

.ref-img {

    height: 95px;
    width: 95px;
}

.no-validation-line .item-inner {
    box-shadow: none !important;
  }

.invalid-ref {

    color:#ff3636;
    font-weight: 600;
    font-size: 10px;
    text-align: center;
}