<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title slot="end">Skip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: center; margin-top: 55px;">
    <img class="ref-img" src="assets/img/referral.png">
  </div>

  <h6 style="text-align: center; font-weight: 700;">Got a Promo Code?</h6>

  <ion-item style="margin: 35px 35px;" >
    <ion-input placeholder="Paste Code Here"></ion-input>
    <ion-button size="medium">Submit</ion-button>
  </ion-item>

</ion-content>

<ion-footer class="ion-no-border">
  <p style="text-align: center; font-size: 16px;">Don't Have Any Code</p>
</ion-footer>
