.back-btn {

    margin-left: 15px;
}

.hero-label {

    margin-left: 20px;
}

.section-select {

    margin: 45px 25px;
}

.sec-head {

    font-weight: 500;
}

.sec-des {

    font-size: 12px;
    color:#878787;
    font-weight: 700;
}

.create-p-btn {

    margin: 10px 25px;
    --background: #01b1ff;
}