<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon (click)="back()" class="back-btn" slot="start" name="chevron-back-outline"></ion-icon>
    <ion-title style="font-size: 17px;">Introduction To Shoot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h6 class="hero-label">3 Steps away from getting new customers:</h6>

  <div class="section-select">

    <h6 class="sec-head">Complete Your Profile.</h6>

    <p class="sec-des">Add your Brand Name, enter all your Information
      and complete the on boarding process.</p>

  </div>

  <div class="section-select">

    <h6 class="sec-head">Profile Verification and Approval</h6>

    <p class="sec-des">To maintain a professional platform everyone has to
      go through approval. Please provide all information
      As requested in your profile so we can provide you better service.</p>

  </div>

  <div class="section-select">

    <h6 class="sec-head">Market Yourself and Responds to Leads</h6>

    <p class="sec-des">SHOOT is a Paid Platform, for advertising your Brand.
      Buy Prime Services and respond to the leads to be more profitable.</p>

  </div>

  <ion-button class="create-p-btn" size="block" (click)="proceed()">Create Profile</ion-button>

</ion-content>