.back-btn {
  margin-left: 15px;
  font-size: 18px;
}

.about-text {
  margin:1rem 15px;
}

.img-set {
  text-align: center;
  padding: 20px;
}

.sec-head {
  // font-weight: 500;
  font-weight: bold;
  font-size: 18px;
}
