.back-btn {
  margin-left: 10px;
  font-size: 18px;
}

.booking-img {
  width: 72px;
  height: 72px;
  margin-top: 4px;
}

.ser-title {
  font-size: 14px;
  color: #77726b;
}

.ref-code {
  font-size: 10px;
}

.card-date {
  color: #4d4d4d;
  font-size: 12px;
}

.card-style {
  --background: white;
}

.hero-segment {
  font-size: 12px;
}

.cute-camera {
  height: 7rem;
  width: auto;
}

.more-info-text {
  text-align: center;
  color: #01b1ff;
  font-weight: 600;
}

.accept-btn {
  --background: #01b1ff;
}

.card-time {
  font-size: 12px;
  margin-left: 3px;
}

.card-address {
  font-size: 12px;
}

ion-segment-button {
  // --background-checked: #01B1FF;
  --color-checked: #01b1ff;
}

.no-book-img {
  margin-top: 10vh;
}


.loc-icon {

  color: #FF4600;
  font-size: 14px;
  position: relative;
  top: 2px;
  left: -2px;
  
}

// .round1 {
//   background: #f9efef;
// }

// .round2 {
//   background: #ebe9e9;
// }

// .round3 {
//   background: #edf9ff;
// }

// .round4 {
//   background: #fff7ea;
// }

// .round5 {
//   background: #fffbdc;
// }

// .round6 {
//   background: #ffe7ef;
// }

// .round7 {
//   background: #e0e1d4;
// }

// .round8 {
//   background: #eaffd1;
// }

// .round9 {
//   background: #ebebeb;
// }

// .round10 {
//   background: #defbff;
// }

// .round11 {
//   background: #fff7f4;
// }

// .round12 {
//   background: #e0fffc;
// }

// .round13 {
//   background: #e6d8ff;
// }

// .round14 {
//   background: #fffbd8;
// }

// .round15 {
//   background: #fff7ea;
// }

// .round16 {
//   background: #f4faff;
// }

// .round17 {
//   background: #fff2ee;
// }

// .round18 {
//   background: #f1faff;
// }

// .round19 {
//   background: #f5f5f5;
// }

// .round20 {
//   background: #fff7df;
// }
